body :hover {
    position: relative;
}
    body :hover:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
        body :not(a):not(img)[class]:hover:before {
            -webkit-box-shadow: inset 0 0 0 1px rgba(30, 100, 255, .85);
            -moz-box-shadow:    inset 0 0 0 1px rgba(30, 100, 255, .85);
            box-shadow:         inset 0 0 0 1px rgba(30, 100, 255, .85);
        }
        body [id]:hover:before,
        body a:hover:before,
        body img:hover:before {
            -webkit-box-shadow: inset 0 0 0 1px rgba(255, 30, 30, .85);
            -moz-box-shadow:    inset 0 0 0 1px rgba(255, 30, 30, .85);
            box-shadow:         inset 0 0 0 1px rgba(255, 30, 30, .85);
        }
            body a[title]:hover:before,
            body img[alt]:hover:before {
                -webkit-box-shadow: inset 0 0 0 1px rgba(30, 180, 80, .85);
                -moz-box-shadow:    inset 0 0 0 1px rgba(30, 180, 80, .85);
                box-shadow:         inset 0 0 0 1px rgba(30, 180, 80, .85);
            }
    body [class]:hover:after,
    body [id]:hover:after,
    body a:hover:after,
    body img:hover:after {
        color: white;
        width: auto;
        padding: 0 6px;
        border-bottom: 0;
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        font-family: monospace;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        text-shadow: 0 1px 1px rgba(200, 200, 200, .5);
        border-radius: 4px 4px 0 0;
        z-index: 999;
    }
        body :not(a):not(img)[class]:hover:after {
            content: attr(class);
            background-color: rgba(30, 100, 255, .85);
        }
        body [id]:hover:after,
        body a:hover:after,
        body img:hover:after {
            background-color: rgba(255, 30, 30, .85);
        }
            body [id]:hover:after {
                content: attr(id);
            }
        body a:hover:after,
        body img:hover:after {
            top: 100%;
            bottom: auto;
            border-radius: 0 0 4px 4px;
        }
            body a:hover:after {
                content: "No title attribute!";
            }
            body img:hover:after {
                content: "No alt attribute";
            }
            body a[title]:hover:after,
            body img[alt]:hover:after {
                background-color: rgba(30, 180, 80, .85);
            }
            body a[title]:hover:after {
                content: "title: " attr(title);
            }
            body img[alt]:hover:after {
                content: "alt: " attr(alt);
            }