/**
 * Middlesex Design Mockup
 * The first iteration design of Middlesex Uni
 * by Roger Hetherington and Chris Burnell at Squiz UK (http://squiz.net)
 *
 * Table of Contents (search $ to jump to each section):
 *    ##. You Can Dance If You Want To
 */


/*------------------------------------*\
    $.## General and Typography
    i    Layout
    ii   Inline Elements
    iii  Block Elements
\*------------------------------------*/

html,
body {
    min-height: 100%;
}
body {
    background: #e1e1e1 url("images/bg-body.png") top center no-repeat;
    color: black;
    position: relative;
    font: 400 normal 20px/1.618em "ff-dax-web-pro", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.wrap {
    width: auto;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 3em; /* 0 20px */
}

a {
    color: #e41b13;
    text-decoration: none;
    -webkit-transition: background .2s, color .2s, text-shadow .2s;
    transition:         background .2s, color .2s, text-shadow .2s;
    -webkit-user-select: none;
    -moz-user-select:    none;
    user-select:         none;
}
    a:hover {
        text-decoration: underline;
    }
img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0;
}
strong {
    font-weight: 600;
}
sup {
    top: -0.3em;
}
h1, h2, h3, h4, h5, h6 {
    min-height: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.2em;
}
h1 {
    font-size: 2.9em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .0625em;
    text-transform: uppercase;
}
p {
    margin: 0;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: inside disc;
}
    ol {
        list-style-type: decimal-leading-zero;
    }
abbr,
blockquote,
cite,
dfn {
    color: #6f6f6f;
    font-style: italic;
}
    abbr {
        border-bottom: 1px dotted #6f6f6f;
        cursor: help;
    }
    .pullquote {
        font-size: 2em;
        line-height: 1.25em;
    }
        .pullquote .citation {
            margin-top: 1em;
            clear: both;
            font-size: .5em;
        }
hr {
    background: rgba(6, 6, 6, .1);
    width: 100%;
    height: .25em;
    display: block;
    border: 0;
}


/*------------------------------------*\
    $.## Header, Footer
\*------------------------------------*/

header,
footer {
    background: black;
    min-height: 2em;
    padding: .75em 0;
    border-top: 1px solid #f6f5f5;
    border-bottom: 1px solid #f6f5f5;
    -webkit-box-shadow: 0 0 .1em rgba(0, 0, 0, .25);
    -moz-box-shadow:    0 0 .1em rgba(0, 0, 0, .25);
    box-shadow:         0 0 .1em rgba(0, 0, 0, .25);
}
    header {
        max-height: 2em;
        margin: 1em 0 3em;
    }
.site-logo {
    background-image: url("images/site-logo.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 100px;
    height: 40px;
    float: left;
    display: inline-block;
}
    header .site-logo {
        float: left;
        margin-right: 1.25em;
    }

/**
 * Block Formatting Context
 */
.site-navigation {
    width: 9999px;
    display: table-cell;
    list-style: none;
}
    .site-navigation li {
        float: left;
        display: inline-block;
        margin-right: .5em;
        margin-bottom: .5em;
    }
        .site-navigation li:last-child {
            margin-right: 0;
        }
    .site-navigation a {
        color: white;
        display: block;
        padding: 0 .625em; /* 0 10px */
        font-size: .8em; /* 16px */
        line-height: 2.5em;
    }


/*------------------------------------*\
    $.## Grid Layout
\*------------------------------------*/

/**
 * Extends .wrap
 */
.grid-container {
    max-width: 1300px;
    padding: 0 3em 8em;
}
    .grid {
        width: 100%;
        float: left;
    }
    .grid > li {
        float: left;
        display: inline-block;
        padding: .5em;
        overflow: visible;
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        box-sizing:         border-box;
    }
        .one-quarter {
            width: 25%;
        }
        .one-half {
            width: 50%;
        }
        .three-quarters {
            width: 75%;
        }

.push-quarter {
    margin-left: 25%;
}
.push-half {
    margin-left: 50%;
}
.push-three-quarters {
    margin-left: 75%;
}

.pull-quarter {
    margin-left: -25%;
}
.pull-half {
    margin-left: -50%;
}
.pull-three-quarters {
    margin-left: -75%;
}


/*------------------------------------*\
    $.## Grid Tiles and Box Modules
\*------------------------------------*/

/**
 * Grid tiles are transparent by default
 */
.grid > li > div,
.grid > li > a,
.grid > li > img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .85);
    -moz-box-shadow:    inset 0 0 1px rgba(0, 0, 0, .85);
    box-shadow:         inset 0 0 1px rgba(0, 0, 0, .85);
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
    .grid > li > .site-introduction {
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }
    .grid > li > .horizontal-half {
        height: 50%;
        position: relative;
        -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .15), inset 1px 0 0 rgba(0, 0, 0, .15), inset -1px 0 0 rgba(0, 0, 0, .15);
        -moz-box-shadow:    inset 0 1px 0 rgba(0, 0, 0, .15), inset 1px 0 0 rgba(0, 0, 0, .15), inset -1px 0 0 rgba(0, 0, 0, .15);
        box-shadow:         inset 0 1px 0 rgba(0, 0, 0, .15), inset 1px 0 0 rgba(0, 0, 0, .15), inset -1px 0 0 rgba(0, 0, 0, .15);
    }
        .grid > li > .horizontal-half + .horizontal-half {
            -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15), inset 1px 0 0 rgba(0, 0, 0, .15), inset -1px 0 0 rgba(0, 0, 0, .15);
            -moz-box-shadow:    inset 0 -1px 0 rgba(0, 0, 0, .15), inset 1px 0 0 rgba(0, 0, 0, .15), inset -1px 0 0 rgba(0, 0, 0, .15);
            box-shadow:         inset 0 -1px 0 rgba(0, 0, 0, .15), inset 1px 0 0 rgba(0, 0, 0, .15), inset -1px 0 0 rgba(0, 0, 0, .15);
        }
        .grid > li > .horizontal-half h2 {
            width: 60%;
        }

.grid > li > div h2 {
    margin-bottom: .5em;
}


.red-box,
.black-box,
.gray-box,
.white-box {
    padding: .5em;
}
    .red-box {
        background: #e41b13;
        color: white;
    }
        .red-box a {
            color: white;
        }
    .black-box {
        background: black;
        color: white;
    }
    .gray-box {
        background: #464646;
        color: white;
    }
        .gray-box a {
            color: white;
        }
    .white-box {
        background: white;
    }

input[type="text"] {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center right .5em;
    background-size: auto 80%;
    color: black;
    width: 100%;
    padding: .5em 3em .5em .5em;
    border: 0;
    outline: 0;
    line-height: 1.618em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
    .course-search {
        background-image: url("images/bg-course-search.png");
    }
    .course-search-container .course-search {
        margin-bottom: 1em;
    }
    .ask-a-question {
        background-image: url("images/bg-ask-a-question.png");
    }
.course-search-container p,
.news-container p {
    line-height: 1.4em;
}

.news-container time {
    display: block;
}
.news-container .next-link {
    color: white;
    float: right;
    display: inline-block;
    line-height: 42px;
    text-transform: lowercase;
    /* padding-right: 33px;
    background: url("images/bg-next-link.png") right no-repeat; */
}

.date-list {
    list-style: none;
}
    .date-list li {
        float: left;
        margin-bottom: 1em;
        clear: both;
    }
    .date-block {
        background: black;
        color: white;
        width: 2.5em;
        padding: .25em 0;
        line-height: 1em;
        text-align: center;
    }
        .date-block span {
            clear: both;
            font-weight: 600;
        }
        .date-list .date-block {
            float: left;
            display: inline-block;
            margin-right: .5em;
        }
    .date-list div {
        width: 999px;
        display: table-cell;
        line-height: 1.2em;
    }
        .date-list time {
            display: block;
        }

.links-list {
    list-style: none;
}

.twitter-widget {
    position: relative;
    overflow: visible !important;
}
    .twitter-actions {
        background: url("images/twitter-actions.png");
        width: 66px;
        height: 198px;
        position: absolute;
        top: 0;
        left: 100%;
        cursor: pointer;
    }

.student-stories {
    background: url("images/bg-student-stories.png");
    background-size: 100% 100%;
    cursor: pointer;
}


/*------------------------------------*\
    $.## Footer
\*------------------------------------*/

/**
 * See <header> styles for shared <footer> styles
 */
footer {
    width: 100%;
    position: absolute;
    bottom: 1em;
    left: 0;
}

.social-icon-list {
    height: 2em;
    float: left;
    display: inline-block;
    margin-left: -.5em;
    vertical-align: middle;
    list-style: none;
}
    .social-icon-list li {
        float: left;
        display: inline-block;
        margin-right: .5em;
    }
    .social-icon-list a {
        background-repeat: no-repeat;
        background-position: center center;
        color: transparent;
        height: 2em;
        display: block;
        padding: 0 .5em;
    }
    .icon-facebook {
        background-image: url("images/icon-facebook.png");
        width: 21px;
    }
    .icon-twitter {
        background-image: url("images/icon-twitter.png");
        width: 24px;
    }
    .icon-youtube {
        background-image: url("images/icon-youtube.png");
        width: 53px;
    }

.awards-list-container {
    float: right;
    display: inline-block;
}
    .awards-list-container span {
        color: white;
        font-size: .8em;
        line-height: 2.5em;
    }
.awards-list {
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}
    .awards-list li {
        float: left;
        display: inline-block;
        margin-left: .5em;
    }
    .awards-list a {
        color: transparent;
        width: 4.5em;
        height: 2em;
        display: block;
        border: 1px solid #808080;
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        box-sizing:         border-box;
    }


/*------------------------------------*\
    $.## Miscellaneous
\*------------------------------------*/

.clear { clear: both; overflow: hidden; zoom: 1; }
    .clear:before,
    .clear:after { content: ""; display: table; }
    .clear:after { clear: both; }

@-webkit-keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
header .site-logo,
.site-navigation li {
    -webkit-transition: margin .4s;
    transition:         margin .4s;
    -webkit-transform: rotate3d(0, 0, 0, 360deg);
    -ms-transform:     rotate3d(0, 0, 0, 360deg);
    transform:         rotate3d(0, 0, 0, 360deg);
}


/*------------------------------------*\
    $.## Media Queries
\*------------------------------------*/

/**
 * Progressive Enhancement
 */
@media( min-width: 1280px ) {

    header .site-logo {
        margin-right: 2.25em;
    }
    .site-navigation li {
        margin-right: 1.25em;
    }
    .red-box,
    .black-box,
    .gray-box,
    .white-box {
        padding: 1em;
    }

}

/**
 * Graceful Degradation
 */
@media( max-width: 1280px ) {

    .wrap {
        padding: 0 1em;
    }
    .grid > li > div,
    .grid > li > a {
        font-size: .8em;
    }
    .twitter-actions {
        right: 0;
        left: auto;
    }

}
@media( max-width: 994px ) {

    .push-quarter,
    .push-half,
    .push-three-quarters,
    .pull-quarter,
    .pull-half,
    .pull-three-quarters {
        margin-left: 0;
    }

    .grid > li > div,
    .grid > li > a {
        font-size: .65em;
    }
    .links-list {
        line-height: 1.4em;
    }
    .twitter-actions {
        background-size: 100% 100%;
        width: 50px;
        height: 150px;
    }
    .one-quarter:not(.mobile-full) {
        width: 33.333%;
    }
    .one-half,
    .three-quarters,
    .mobile-full {
        width: 66.666%;
    }

}
@media( max-width: 678px ) {

    .wrap {
        padding: 0 .5em;
    }
    .one-quarter:not(.mobile-full) {
        width: 50%;
    }
    .one-half,
    .three-quarters,
    .mobile-full {
        width: 100%;
    }
    .awards-list-container {
        float: left;
    }

}


/*------------------------------------*\
    $.## No Mobile Warning
\*------------------------------------*/

.no-mobile-warning {
    background: rgba(0, 0, 0, .9);
    opacity: 0;
    color: white;
    width: 100%;
    height: 100%;
    padding: 5em 1em 1em;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    -webkit-transition: opacity 1s;
    transition:         opacity 1s;
}
@media( max-width: 578px ) {
    .no-mobile-warning {
        opacity: 1;
        visibility: visible;
    }
}

